alembic==1.11.3
asyncpg==0.28.0
bcrypt==4.0.01
fastapi==0.111.0
ijson==3.3.0
itsdangerous==2.1.2
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
redis==5.0.0
requests==2.32.3
SQLAlchemy==2.0.20
uvicorn==0.23.2
watchfiles==0.19.0
