@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --app-background: hsl(220 14% 96%);

        --background: hsl(0 0% 100%);
        --foreground: hsl(0 0% 3.9%);

        --card: hsl(0 0% 100%);
        --card-foreground: hsl(0 0% 3.9%);

        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(0 0% 3.9%);

        --primary: hsl(182, 73%, 45%);
        --primary-foreground: hsl(210 20% 98%);

        --secondary: hsl(220 14.3% 95.9%);
        --secondary-foreground: hsl(220.9 39.3% 11%);

        --muted: 0 0% 90.1%;
        --muted-foreground: hsl(0 0% 45.1%);

        --accent: hsl(0 0% 96.1%);
        --accent-foreground: hsl(0 0% 9%);

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: hsl(0 0% 98%);

        --border: hsl(0 0% 89.8%);
        --input: hsl(0 0% 89.8%);
        --ring: hsl(230, 94%, 82%);
        --radius: hsl(0.5rem);

        --chart-1: hsl(12 76% 61%);
        --chart-2: hsl(173 58% 39%);
        --chart-3: hsl(197 37% 24%);
        --chart-4: hsl(43 74% 66%);
        --chart-5: hsl(27 87% 67%);

        --test-1:hsl(23, 100%, 50%);
        --test-2:hsl(42, 97%, 55%);
        --test-3:hsl(183, 31%, 34%);
        --test-4:hsl(164, 95%, 43%);
        --test-5:hsl(22, 98%, 56%);
    }

    .dark {
        --app-background: hsl(0 0% 3.9%);

        --background: hsl(0 0% 8.2%);
        --foreground: hsl(0 0% 98%);

        --card: hsl(0 0% 3.9%);
        --card-foreground: hsl(0 0% 98%);

        --popover: hsl(0 0% 3.9%);
        --popover-foreground: hsl(0 0% 98%);

        --primary: hsl(245, 58%, 51%);
        --primary: theme(colors.indigo.600);
        --primary-foreground: hsl(210 20% 98%);

        --secondary: hsl(215 27.9% 16.9%);
        --secondary-foreground: hsl(210 20% 98%);

        --muted: 0 0% 14.9%;
        --muted-foreground: hsl(0 0% 63.9%);

        --accent: hsl(0 0% 14.9%);
        --accent-foreground: hsl(0 0% 98%);

        --destructive: 0 62.8% 40.6%;
        --destructive-foreground: hsl(0 0% 98%);

        --border: hsl(0 0% 17.9%);
        --input: hsl(0 0% 17.9%);
        --ring: hsl(245, 58%, 51%);

        --chart-1: hsl(220 70% 50%);
        --chart-2: hsl(160 60% 45%);
        --chart-3: hsl(30 80% 55%);
        --chart-4: hsl(280 65% 60%);
        --chart-5: hsl(340 75% 55%);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-app-background text-foreground;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
