@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;
      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;
      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;
      --primary: 24.6 95% 53.1%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;
      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;
      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;
      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --ring: 24.6 95% 53.1%;
      --radius: 0.5rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }
  
    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;
      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;
      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;
      --primary: 20.5 90.2% 48.2%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;
      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;
      --destructive: 0 72.2% 50.6%;
      --destructive-foreground: 60 9.1% 97.8%;
      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --ring: 20.5 90.2% 48.2%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
  

/* @layer base {
    :root {
        --app-background: hsl(220 14% 96%);

        --background: hsl(117, 77%, 95%);
        --foreground: hsl(0 0% 3.9%);

        --card: hsl(0 0% 100%);
        --card-foreground: hsl(0 0% 3.9%);

        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(0 0% 3.9%);

        --primary: hsl(117, 78%, 29%);
        --primary-foreground: hsl(210 20% 98%);

        --secondary: hsl(180, 80%, 69%);
        --secondary-foreground: hsl(220.9 39.3% 11%);

        --muted: hsl(0, 0%, 90.1%);
        --muted-foreground: hsl(0 0% 45.1%);

        --accent: hsl(204, 79%, 47%);
        --accent-foreground: hsl(0 0% 9%);

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: hsl(0 0% 98%);

        --border: hsl(0 0% 89.8%);
        --input: hsl(0 0% 89.8%);
        --ring: hsl(230, 94%, 82%);
        --radius: hsl(0.5rem);

        --chart-1: hsl(12 76% 61%);
        --chart-2: hsl(173 58% 39%);
        --chart-3: hsl(197 37% 24%);
        --chart-4: hsl(43 74% 66%);
        --chart-5: hsl(27 87% 67%);

        --text-color: hsl(115, 85%, 13%);
    }

    .dark {
        --app-background: hsl(0 0% 3.9%);

        --background: hsl(117, 77%, 5%);
        --foreground: hsl(0 0% 98%);

        --card: hsl(0 0% 3.9%);
        --card-foreground: hsl(0 0% 98%);

        --popover: hsl(0 0% 3.9%);
        --popover-foreground: hsl(0 0% 98%);

        --primary: hsl(117, 78%, 71%);
        --primary: theme(colors.indigo.600);
        --primary-foreground: hsl(210 20% 98%);

        --secondary: hsl(180, 80%, 31%);
        --secondary-foreground: hsl(210 20% 98%);

        --muted: 0 0% 14.9%;
        --muted-foreground: hsl(0 0% 63.9%);

        --accent: hsl(204, 79%, 53%);
        --accent-foreground: hsl(0 0% 98%);

        --destructive: 0 62.8% 40.6%;
        --destructive-foreground: hsl(0 0% 98%);

        --border: hsl(0 0% 17.9%);
        --input: hsl(0 0% 17.9%);
        --ring: hsl(245, 58%, 51%);

        --chart-1: hsl(220 70% 50%);
        --chart-2: hsl(160 60% 45%);
        --chart-3: hsl(30 80% 55%);
        --chart-4: hsl(280 65% 60%);
        --chart-5: hsl(340 75% 55%);

        --text-color: hsl(116, 85%, 87%);
    }
} */

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-app-background text-foreground;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
